.a{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 55px;
}
.a2{
    width: 20px;
    height: 20px;
    background-color: rgb(225, 86, 225);
    border-radius: 100%;
    margin-left: 55px;
}
.a3{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 55px;
}
.a4{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-left: 55px;

}
.a5{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 64, 0);
    border-radius: 100%;
    margin-left: 50px;
}